@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

html, body {
  padding: 0;
}

body {
  font-family: 'Poiret One', cursive;
}

.card {
  overflow: hidden;
  height: 450px;
  width: 40%;
}

.card-img-overlay {
  background: linear-gradient(transparent 50%,#191919);
  text-align: left;
  vertical-align: bottom;
}

.project-name {
  position: absolute;
  bottom: 10px;
  transition: bottom 1s;
}

.project-name > .card-title {
  font-size: 30px;
}

.project-contact {
  position: absolute;
  bottom: 10px;
  transition: left 1s;
  color: #0275d8 !important;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s;
}

.zoom-img {
  transform: scale(1.15);
}

.nav-link, .navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: white;
  cursor: pointer;
}

.divider {
  height: 2px;
  width: 70%;
  background: #0275d8!important;
}

/*.gauge {
  height: 3px;
  position: fixed;
  z-index: 999;
  width: 0;
  background: #000000;
}*/

#projects_div, #faq_div, #contact_div, #main_div{
  padding-top: 75px;
  padding-left: 15px;
  padding-right: 15px;
}

#abstract_div, #team_div {
  padding-left: 15px;
  padding-right: 15px;
}

#main_div, #head_div {
  text-align: center;
}

.parallax {
  height: 700px;
  background-image: url("http://study.com/cimages/course-image/ohio-assessments-for-educators-computer-technology-subtests-i-ii-practice-study-guide_218362_large.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#title_div {
  display: inline-block;
  padding: 20px;
  background: rgba(0,0,0,0.5);
  color: white;
  border-radius: 10px;
}

#elderly_title_div {
  height: 700px;
  /*background-image: url("http://2.bp.blogspot.com/-mXm-BxFa7os/VXrctp1CcXI/AAAAAAAALR0/tPjOW6DKaj8/s640/ProjectManagementCertificate_MAIN.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  background: transparent;
}

#head_div {
  background-image: url("http://2.bp.blogspot.com/-mXm-BxFa7os/VXrctp1CcXI/AAAAAAAALR0/tPjOW6DKaj8/s640/ProjectManagementCertificate_MAIN.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#team_div, #abstract_div {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 80%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 10px solid #0275d8;
}

.member_names {
  display: inline-block;
}

.footer {
  background: #DCDCDC;
  height: 50px;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}
